.splash-nav-link {
  transition: background-color 0.2s ease-out;
}

.splash-nav-link:hover, .splash-nav-link:active {
  background-color: rgba(255, 255, 255, 0.2)
}

a {
  text-decoration: none;
}

@keyframes fade-in-from-bottom {
  from {
    position: relative;
    bottom: -20px;
    opacity: 0.05;
  }
  to {
    position: relative;
    bottom: 0;
    opacity: 1;
  }
}